.wrapper {
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-content: center;
}
.contentWrapper {
  background: #eeeeee;
  max-width: 1200px;
  padding: 10px;
}